body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to bottom, #0057b7, #ffd700); /* синій до жовтого */
    color: #333;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #223268;
    color: #fff;
    padding: 8px 16px;
    z-index: 100;
    transition: top 0.3s;
    text-decoration: none;
}

.skip-link:focus {
    top: 0;
}

header {
    background-color: #1a2d6e;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9); /* для читабельності тексту на градієнті */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 50px;
}

h2 {
    border-left: 6px solid #0a1a46;
    padding-left: 12px;
    color: #225164;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

input, select, button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input:focus, select:focus {
    border-color: #c0b342;
    outline: none;
}

button {
    background-color: #294374;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b3c47;
}

address a {
    color: #3e5468;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2c3d8a;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    color: #ffffff;
}

#about-event {
    background-color: #dedfda;
    padding: 20px;
    border-radius: 12px;
    line-height: 1.6;
  }
  
  .event-images {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .event-images img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  